.Vue-Toastification__toast--default.toast-error {
  background-color: white;
  color: #fc6161;
  border: 1px solid #fc6161;
}

.Vue-Toastification__toast--default.toast-success {
  background-color: white;
  color: #6fd03e;
  border: 1px solid #6fd03e;
}

.Vue-Toastification__toast--default.toast-warning {
  background-color: white;
  color: #ffc941;
  border: 1px solid #ffc941;
}

.Vue-Toastification__toast--default.toast-info {
  background-color: white;
  color: #4b8ff5;
  border: 1px solid #4b8ff5;
}
